@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

.phoneContainer {
    width: 100%;
    max-width: 375px;
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: 'Mona Sans', sans-serif;
    margin: auto;
}

/* Header Navigation */
.header {
    display: flex;
    align-items: center;
    padding: 16px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.backBtn {
    width: 18px;
    height: 18px;
    cursor: pointer;
    object-fit: contain;
}

.headerTitle {
    flex: 1;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    margin-right: 24px; /* Compensate for back button to center text */
}

/* Content Area */
.listContent {
    padding: 16px;
    flex: 1;
    background-color: #fcfcfc;
}

/* Wallet Card Design */
.walletCard {
    border: 1.5px solid #f0f0f0;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
    background: #fff;
    position: relative;
    cursor: pointer;
}

.cardMain {
    display: flex;
    align-items: flex-start;
    margin-bottom: 14px;
    padding-right: 0px; /* Space for check icon */
}

.tokenIcon {
    width: 38px;
    height: 38px;
    margin-right: 12px;
    object-fit: contain;
}

.details { flex: 1; }

.tokenName {
    font-weight: 800;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    color: #000;
}

.usdtSmall {
    width: 18px;
    height: 18px;
    margin-left: 6px;
    object-fit: contain;
}

.addressText {
    font-size: 13px;
    color: #222;
    word-break: break-all;
    line-height: 1.5;
    font-weight: normal;
    position: relative;
    width: 100%;
}

/* Success/Select Indicator */
.checkIcon {
    width: 18px;
    height: 18px;
    position: absolute;
    right: 0px;
    top: 0;
}
.flexitem {
    width: 90%;
}
/* Card Footer (Metadata) */
.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #f8f8f8;
    padding-top: 12px;
}

.timeLabel {
    color: #111;
    font-size: 12px;
}

.deleteBtn {
    width: 20px;
    height: 20px;
    opacity: 0.3;
    cursor: pointer;
    transition: opacity 0.2s;
}

.deleteBtn:hover { opacity: 0.6; }

.noData {
    text-align: center;
    color: #ccc;
    font-size: 14px;
    margin: 40px 0;
    font-weight: 600;
}

/* Sticky Action Button */
.bottomAction {

}

.addBtn {
    width: 100%;
    background: #000;
    color: #fff;
    border: none;
    padding: 14px 10px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.1s;
}

.addBtn:active { transform: scale(0.98); }
